<div
  class="px-10 pt-5 w-full justify-center relative duration-300 ease-in-out transition-all"
>
  <header class="flex justify-between">
    <h1>Instagram</h1>
    <button type="button" (click)="closeModal()">
      <ng-container [ngTemplateOutlet]="iconClose"> </ng-container>
    </button>
  </header>

  <div class="relative flex items-center h-screen -mt-14 w-[1691px] m-auto">
    @if (getAdjacentStory(-2)) {
      <story-thumbnail-preview
        [user]="getAdjacentStory(-2)?.user!"
        [stories]="getAdjacentStory(-2)?.stories!"
        class="absolute"
        style="transform: translateX(calc(-50% + 162px))"
      />
    }

    @if (getAdjacentStory(-1)) {
      <story-thumbnail-preview
        [user]="getAdjacentStory(-1)?.user!"
        [stories]="getAdjacentStory(-1)?.stories!"
        class="absolute"
        style="transform: translateX(calc(-50% + 427px))"
      />
    }

    <story-card
      [user]="story()?.user!"
      [stories]="story()?.stories!"
      [nextUserName]="getAdjacentStory(1)?.user?.name!"
      [prevUserName]="getAdjacentStory(-1)?.user?.name!"
      class="absolute"
      style="transform: translateX(calc(-50% + 846px))"
    />

    @if (getAdjacentStory(1)) {
      <story-thumbnail-preview
        [user]="getAdjacentStory(1)?.user!"
        [stories]="getAdjacentStory(1)?.stories!"
        class="absolute"
        style="transform: translateX(calc(-50% + 1264px))"
      />
    }

    @if (getAdjacentStory(2)) {
      <story-thumbnail-preview
        [user]="getAdjacentStory(2)?.user!"
        [stories]="getAdjacentStory(2)?.stories!"
        class="absolute"
        style="transform: translateX(calc(-50% + 1529px))"
      />
    }
  </div>
</div>

<ng-template #iconClose>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="35"
    height="35"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M0 0h24v24H0z" stroke="none" />
    <path d="M18 6 6 18M6 6l12 12" />
  </svg>
</ng-template>
