<section class="flex justify-center w-[206px] h-[365px]">
  <article
    class="h-full w-full rounded-xl flex justify-center items-center flex-col gap-4 backdrop-blur-3xl"
    style="
      background-image: url('image.png');
      background-size: cover;
      background-position: center;
    "
  >
    <div
      class="story-small-preview w-full h-full flex justify-center items-center flex-col gap-1"
    >
      <picture
        class="rounded-full p-[2px] size-[66px] bg-gradient-to-r from-[#f5c33b] to-[#d500bf] via-[#fb3c44] cursor-pointer"
      >
        <img
          src="https://xsgames.co/randomusers/assets/avatars/male/1.jpg"
          class="object-cover rounded-full border-[3px] border-[#121212]"
          alt=""
        />
      </picture>
      <strong class="font-semibold">lautarodelcampo</strong>
      <time> 19h </time>
    </div>
  </article>
</section>
