<section
  class="flex justify-center w-[206px] h-[365px]"
  (click)="handleStoryClick()"
>
  <article
    class="h-full w-full rounded-xl flex justify-center items-center flex-col gap-4 backdrop-blur-3xl bg-cover bg-center"
    [ngStyle]="{ 'background-image': 'url(' + firstStory()?.image + ')' }"
  >
    <div
      class="story-small-preview w-full h-full flex justify-center items-center flex-col gap-1"
    >
      <story-picture
        [picture]="user().image"
        [username]="user().name"
        [stories]="stories()"
      />
      <time> {{ firstStory()?.time }} </time>
    </div>
  </article>
</section>
